{% extends 'base.html.twig' %}

{% block title %}New FeedbackDon{% endblock %}

{% block body %}
    <h1>Give Us Your Feedback</h1>
    <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
        <div class="container">
            <div class="row d-flex align-items-stretch no-gutters">
                <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                    
                        {{ include('feedback_don/_form.html.twig') }}
                    
                </div>
           
            </div>
        </div>
    </section>

    <a href="{{ path('app_feedback_don_index') }}">back to list</a>
{% endblock %}
