{% extends 'base.html.twig' %}

{% block title %}Edit FeedbackDon{% endblock %}

{% block body %}
    <h1>Edit FeedbackDon</h1>

    {{ include('b_feedback_don/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_b_feedback_don_index') }}">back to list</a>

    {{ include('b_feedback_don/_delete_form.html.twig') }}
{% endblock %}
