

{% block body %}
    <p>Bonjour ,</p>

    <p>Nous vous informons que votre article sous le titre "{{ article.title }}" a été supprimé par l'administrateur du site.</p>

    <p>N'hésitez pas à nous contacter si vous avez des questions ou des préoccupations.</p>

    <p>Cordialement,</p>
    <p>L'équipe GreenSteps</p>
{% endblock %}
